<h1>Add a new image link</h1>

<%= form_with scope: :image, url: images_path, local: true do |form| %>
    <% if @image.errors.any? %>
      <div>
        <% @image.errors.full_messages.each do |msg| %>
          <p><%= msg %></p>
        <% end %>
      </div>
    <% end %>
    <p>
      <%= form.label :url %><br>
      <%= form.text_field :url %>
    </p>

    <p>
      <%= form.submit %>
    </p>
<% end %>
